#menu {

    width: 100%;

    text-transform: uppercase;

    text-align: center;

    line-height: 50px;

    background: #69c;

}

  #menu ul {

    padding:0;

    margin:0;

  }

  #menu li{

    display: inline;

    list-style:none;

    margin: 5px 10px;

  }

     #menu li a {

        padding:5px 10px;

        color:#fff;

        text-decoration: none;

     }

     #menu li a:hover{

        background: #36c;

        color: #ff0;
}
